@font-face {
  font-family: "Montserrat";
  src: url(fonts/Montserrat__font/Montserrat-Regular.woff2), url(fonts/Montserrat__font/Montserrat-Regular.woff);
  font-display: swap;
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url(fonts/Montserrat__font/Montserrat-Medium.woff2), url(fonts/Montserrat__font/Montserrat-Medium.woff);
  font-display: swap;
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Montserrat";
  src: url(fonts/Montserrat__font/Montserrat-SemiBold.woff2), url(fonts/Montserrat__font/Montserrat-SemiBold.woff);
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Montserrat";
  src: url(fonts/Montserrat__font/Montserrat-Bold.woff2), url(fonts/Montserrat__font/Montserrat-Bold.woff);
  font-display: swap;
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Montserrat";
  src: url(fonts/Montserrat__font/Montserrat-ExtraBold.woff2), url(fonts/Montserrat__font/Montserrat-ExtraBold.woff);
  font-display: swap;
  font-style: normal;
  font-weight: 800;
}